@using WebApp.HtmlHelpers
@model string

@{
    Layout = "~/Views/Home/Layout.cshtml";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Category">Categories</a>
            <a class="navbar-brand" href="/Product">Products</a>
        </div>
    </div>
</nav>

<div>@Model</div>
@*<a asp-controller="Category" asp-action="Index">Categories</a><br/>
    <a asp-controller="Product" asp-action="Index">Products</a>*@

<image northwind-id="1">Link to the first pic</image><br />

@Html.CreateImageLink("2", "Link to the second pic")<br />
@Html.CreateProductsPageLink()<br />
@Html.CreateCategoriesPageLink()<br />