@model ProductEditViewModel

@section Headers{
    <breadcrumb></breadcrumb>
}

<h1>New Product</h1>

<form method="post">
    <partial name="_EditProductFields.cshtml" for="@Model" />
    <input type="submit" name="save" title="Save" />
</form>
<div asp-validation-summary="All"></div>
