@model CategoryIndexViewModel

@section Headers{
    <breadcrumb></breadcrumb>
}

<table>
    @foreach (var cat in Model.Categories)
    {
        <tr>
            <td>@cat.CategoryId.</td>
            <td>
                <a asp-action="Edit" asp-route-id=@cat.CategoryId>@cat.CategoryName</a>
            </td>
        </tr>
    }
</table>

@section Footers
{
    <div>
        <p>
            <h3>On this page user can’t edit categories</h3>
        </p>
    </div>
}
