@model CategoryIndexViewModel

<table>
    @foreach (var cat in Model.Categories)
    {
        <tr>
            <td>@cat.CategoryId.</td>
            <td>
                <a asp-action="Edit" asp-route-id=@cat.CategoryId>@cat.CategoryName</a>
            </td>
        </tr>
    }
</table>